PUBLIC_APP_ENV=YOUR_APP_ENV_HERE
PUBLIC_ENABLE_MOCK_API=YOUR_BOOLEAN_HERE
PUBLIC_API_BASE_URL=YOUR_PUBLIC_API_BASE_URL_HERE
PUBLIC_MAP_PROVIDER=YOUR_MAP_PROVIDER_HERE
PUBLIC_MAPBOX_TOKEN=YOUR_PUBLIC_TOKEN_HERE
PUBLIC_LIVE_REFRESH_INTERVAL_MS=YOUR_INTERVAL_MS_HERE
PUBLIC_ENABLE_ANALYTICS=YOUR_BOOLEAN_HERE
