<section class="nana-brand-banner" aria-label="NaNa 品牌區">
  <div class="nana-wordmark" aria-label="NaNa">
    <span>N</span>
    <span>a</span>
    <span>N</span>
    <span>a</span>
  </div>
</section>
